.communityContainer {
  width: 100vw;
  padding-top: 30px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f2ee;
  gap: 12px;

  .firstSection {
    width: 1200px;
    min-height: 360px;
    background-color: white;
    box-shadow: 0px 0px 0px 1px rgb(140 140 140/0.2);
    border-radius: 12px;

    .imgContainer {
      position: relative;
      width: 1200px;
      height: 200px;

      margin-bottom: 70px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 12px 12px 0 0;
        object-fit: cover;
      }

      .communityProfilePhoto {
        width: 152px;
        height: 152px;
        position: absolute;
        bottom: -25%;
        left: 36px;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }

      .photoDrapdown {
        position: absolute;
        top: 24px;
        right: 24px;
        width: 36px;
        height: 36px;
        color: #0c66c2;
        background-color: white;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .cameraIcon {
          width: 60%;
          height: 60%;
        }
      }
    }

    .infoContainer {
      position: relative;
      padding: 0 36px 24px 36px;
      // display: flex;
      // justify-content: space-between;

      .title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 8px;
      }
      .dec {
        margin-bottom: 16px;
        color: var(--lighterColor);
      }

      .buttonContainer {
        display: flex;
        position: absolute;
        top: 0;
        right: 24px;

        .messageButton {
          button {
            font-size: 16px;
            font-weight: 600;
            padding: 8px 14px;
            margin-right: 20px;
            border-radius: 24px;
            border: none;
            color: white;
            background-color: var(--templateColor);
            cursor: pointer;
          }
        }

        .joinButton {
          button {
            font-size: 16px;
            font-weight: 600;
            padding: 8px 14px;
            border-radius: 24px;
            border: none;
            color: white;
            background-color: var(--templateColor);
            cursor: pointer;

            &.requested {
              background-color: #4caf50; // yeşil
              cursor: default;
            }
          }
        }
      }

      .adminButtons {
        display: flex;
        flex-direction: column;
        align-items: end;

        .editCommunityInfo {
          position: absolute;
          top: -60px;
          right: 16px;
          width: 50px;
          height: 50px;

          border-radius: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          transition: 0.2s ease-in-out;

          .editIcon {
            width: 30px;
            height: 30px;
          }

          &:hover {
            background-color: rgb(140 140 140 / 0.1);
          }
        }

        .meetButton {
          position: absolute;
          top: 30px;
          right: 16px;

          button {
            min-width: max-content;
            font-size: 16px;
            font-weight: 600;
            padding: 8px 14px;
            border-radius: 24px;
            border: none;
            color: white;
            background-color: var(--templateColor);
            cursor: pointer;
          }
        }
      }
    }
  }

  .mainContainer {
    width: 1200px;
    display: flex;
    align-items: flex-start;
    gap: 24px;

    .eventContainer {
      position: relative;
      flex: 2;
      background-color: white;
      box-shadow: 0px 0px 0px 1px rgb(140 140 140/0.2);
      border-radius: 12px;
      padding: 24px 36px;

      .header {
        font-size: 20px;
        font-weight: 500;
        padding: 12px;
        margin-top: 12px;
      }

      .newPost {
        position: absolute;
        top: 10px;
        right: 32px;
        font-size: 14px;
        font-weight: 500;
        padding: 6px 10px;
        border: 1px solid var(--templateColor);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        cursor: pointer;
        transition: 0.2s ease-in-out;

        .plusIcon {
          width: 20px;
          height: 20px;
        }

        &:hover {
          color: white;
          background-color: var(--templateColor);
        }
      }

      .noEvent {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
      }

      .postCards {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }

    .memberContainer {
      flex: 1;
      background-color: white;
      box-shadow: 0px 0px 0px 1px rgb(140 140 140/0.2);
      border-radius: 12px;
      padding: 12px 6px;

      .header {
        font-size: 20px;
        font-weight: 500;
        padding-left: 24px;
        margin-bottom: 12px;
      }

      .members {
        .singleMember {
          border-bottom: 1px solid #e8e8e8;
        }
      }
    }
  }

  .modalContainer {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.48);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 1001;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);

    .modelContent {
      width: 600px;
      background-color: white;
      border: 1px solid #e8e8e8;
      border-radius: 8px;
      padding: 24px;

      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        .left {
          display: flex;
          align-items: center;
          gap: 8px;
          margin-left: 10px;

          .image {
            width: 60px;
            height: 60px;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 50%;
            }
          }
        }

        .right {
          cursor: pointer;

          .closeIcon {
            width: 32px;
            height: 32px;
          }
        }
      }

      .previewImageContainer {
        width: 100%;
        //   height: auto;
        margin: 20px 0;
        aspect-ratio: 3 / 2;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          // overflow: hidden;
          display: block;
          margin: 0 auto;
        }
      }

      .textContent {
        textarea {
          width: 100%;
          height: 100px;
          resize: none;
          font-size: 16px;
          border: none;

          &:focus {
            background-color: white;
            outline: none;
          }
        }
      }

      .buttonContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .addPicture {
          display: flex;
          align-items: center;
          gap: 8px;
          border: 1px solid rgb(140 140 140 / 0.4);
          border-radius: 24px;
          max-width: max-content;
          padding: 4px 12px;
          cursor: pointer;

          .imgContainer {
            width: 30px;
            height: 30px;
            color: #666666;
            background-color: white;

            .pictureIcon {
              width: 100%;
              height: 100%;
            }
          }

          button {
            font-size: 14px;
            font-weight: 500;
            color: #444444;
            border: none;
            background-color: white;
          }

          input {
            display: none;
          }

          &:hover {
            background-color: rgb(140 140 140 / 0.4);
          }
        }

        .shareButton {
          button {
            font-size: 16px;
            padding: 6px 12px;
            border-radius: 20px;

            cursor: pointer;

            &.active {
              color: white;
              background-color: var(--templateColor);
              border: 1px solid var(--templateColor);
            }

            &.disabled {
              color: #a2a2a2;
              background-color: #e8e8e8;
              border: 1px solid #e8e8e8;
            }
          }
        }
      }
    }
  }
  .messageModal {
    position: fixed;
    bottom: 0;
    right: 30px;
  }

  .modalOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .modalContent {
      background: white;
      padding: 24px;
      border-radius: 12px;
      width: 90%;
      max-width: 500px;
      position: relative;

      .modalHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .close {
          font-size: 20px;
          cursor: pointer;
        }
      }

      .input,
      .textarea {
        width: 100%;
        margin-top: 12px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
      }

      .textarea {
        height: 100px;
        resize: none;
      }

      .modalActions {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        margin-top: 20px;

        .saveButton,
        .cancelButton {
          padding: 8px 16px;
          border-radius: 6px;
          border: none;
          cursor: pointer;
        }

        .saveButton {
          background-color: #0c66c2;
          color: white;
        }

        .cancelButton {
          background-color: #eee;
        }
      }
    }
  }
}
