.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #eff9ff;
  box-shadow: 0 2px 7px 0 rgb(0, 0, 0, 0.4);

  .container {
    width: 1400px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding: 0 20px;
    // background-color: aqua;

    .logoContainer {
      font-size: 16x;
      color: var(--templateColor);
    }

    .navCenter {
      display: flex;
      gap: 50px;

      li {
        &:hover {
          color: var(--templateColor);
        }
      }

      .fav {
        display: flex;
        align-items: center;
        gap: 5px;

        .heart {
          color: var(--templateColor);
        }
      }
    }

    .navEnd {
      position: relative;

      button {
        color: white;
        background-color: var(--templateColor);
        border: none;
        border-radius: 20px;
        cursor: pointer;

        a {
          display: inline-block;
          padding: 8px 12px;
          font-size: 16px;
        }
      }

      .navEndContent {
        display: flex;
        align-items: center;
        gap: 20px;

        .messages {
          width: 24px;
          height: 24px;
          cursor: pointer;
        }

        .notification {
          width: 24px;
          height: 24px;
          cursor: pointer;
        }
        .user {
          display: flex;
          align-items: center;
          border: 1px solid #d5d5d0;
          border-radius: 25px;
          padding: 10px;
          gap: 10px;
          cursor: pointer;

          &:hover {
            box-shadow: 0 2px 7px 0 rgb(0, 0, 0, 0.3);
            transition: all 0.2s ease-in-out;
          }

          .dots,
          .circle {
            font-size: 24px;
            display: flex;
            align-items: center;
          }
        }
      }

      .modal {
        width: 150px;
        height: 100px;
        background-color: #fff;
        position: absolute;
        right: 0;
        top: 55px;
        z-index: 999;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;

        padding-left: 20px;
        gap: 5px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        border: 1px solid #dddddd;

        .modalItem {
          cursor: pointer;
          display: flex;
          align-items: center;

          &:hover {
            color: var(--templateColor);
            transition: all 0.2s ease-in-out;

            a {
              color: var(--templateColor);
            }
          }

          .accountIcon {
            margin-right: 5px;
          }

          .settingsIcon {
            margin-right: 5px;
          }

          .logoutIcon {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
