.card {
  position: relative;
  width: 176px;
  height: 260px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 12px;
  background-color: white;

  .removeButton {
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    background-color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50%;
    padding: 2px 8px;
    z-index: 3;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #f0f0f0; // hoş, yumuşak bir gri
    }
  }

  .imgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    .bookImg {
      display: flex;
      flex-direction: column;
      //   justify-content: flex-start;
      align-items: center;
      width: 160px;
      height: 160px;
      background-color: var(--bg2);
      border-radius: 6px;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.02);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        color: transparent;
      }
    }

    &.deleteActive {
      margin-top: 25px;
    }
  }

  .info {
    line-height: 16px;

    display: flex;
    flex-direction: column;

    .bookName {
      font-size: 13px;
      font-weight: 600;
      color: #101010;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .author {
      font-size: 13px;
      color: var(--lighterColor);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .iconContainer {
    margin-top: 12px;
    height: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .heart {
      width: 18px;
      height: 18px;
      color: var(--templateColor);
      cursor: pointer;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }

    .headphone {
      width: 16px;
      height: 16px;
      color: var(--lighterColor);
    }
  }
}
